@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

*, 
*::before,
*::after {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #858577;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  /*Got it from: https://www.transparenttextures.com*/
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  padding: 50px;
}

ul {
  line-height: 2.5rem;
}

p {
  color: #444;
}

p, div {
  line-height: 2rem;
}

.logo {
  height: 55px;
  width: 55px;
  float: right;
  margin-left: 20px;
}

.elementum {
  background: center no-repeat url("/img/elementum-logo.gif");
  background-size: cover;
}

.deloitte {
  background: center no-repeat url("/img/deloitte-logo.gif");
  background-size: cover;
}

.thomas-cook {
  background: center no-repeat url("/img/thomas-cook-logo.gif");
  background-size: cover;
}

.wdpro {
  background: center no-repeat url("/img/wdpro-logo.gif");
  background-size: cover;
}

.globant {
  background: center no-repeat url("/img/globant-logo.gif");
  background-size: cover;
}

.gameloft {
  background: center no-repeat url("/img/gameloft-logo.gif");
  background-size: cover;
}